<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-Whatsapp</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>:: All Chats ::</h1>
    <form action="/chats/new">
        <button class="btn">Add New Chat!</button>
    </form>
    <br>
  <%  for(let chat of chats){ %>
        <div class="chat">
            <h4>From : <i><%= chat.from %></i></h4>
            <h4>To : <i><%= chat.to %></i></h4>
            <div class="msg">
                <p><b>message </b>: <%= chat.msg %></p>
                <form action="/chats/<%= chat._id %>/edit" method="get">
                    <button id="edit-btn">Edit</button>
                </form>
                
                <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
                    <button id="delete-btn">Delete</button>
                </form>
            </div>
    
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div><br>
   <% }  %>
</body>
</html>

